<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - PointsApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Подключение Kendo UI -->
    <link href="https://kendo.cdn.telerik.com/2024.1.314/styles/kendo.default-v2.min.css" rel="stylesheet" />

    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Подключение Kendo UI -->
    <script src="https://kendo.cdn.telerik.com/2024.1.314/js/kendo.all.min.js"></script>

    <!-- Подключение Konva.js -->
    <script src="https://cdn.jsdelivr.net/npm/konva@9.2.0/konva.min.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
